@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
*,
*::before,
*::after{
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    background-color: #000;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: "Poppins";

}

.home{
    background-image: url("imgs/vid-1.gif");
    background-size:81%;
}
.header {
    text-decoration: none;
    position:fixed;
    display: flex;
    background-color: #000;
    border-bottom: 2px solid #fff;
    justify-content: space-between;
    top: 0;
    left:0;
    width:100%;
    padding:0.7rem 9%;
    align-items: center;
    z-index: 100;
} 


  /* Style the buttons */
  a{
    text-decoration: none;
    color: #f1f1f1;
  }
.btn1  {
    border: none;
    outline: none;
    margin: 1rem;
    padding: 7px 16px;
    border-color:rgb(255, 255, 255) ;
    cursor: pointer;
    transition: ease 0.5s ;
    text-decoration: none;
  }
  
  .active, .btn1:hover {
    color: rgb(247, 255, 0);
  }



/* Add some content at the bottom of the video/page */
.content1  {
    bottom: 0;
    background: rgba(0, 0, 0, 0.228);
    border-radius: 10%;
    color: #f1f1f1;
    width: 100%;
    width: 550px;
    height: 450px;
    padding: 20px;
    margin: 1rem;
    transition: ease 0.5s;
  }

.home-intro{
    font-size: 20px;
}

.home-intro-span{
    font-weight: 600;
    color: #f1f1f1;
    border-bottom: 1px solid #f1f1f16b;

}




  .content2 {
    opacity: 1;
    background-size:cover;
    position: sticky;
    bottom: 0;
    font-size: 18px;
    font-weight: 600;
    /* background: rgba(0, 0, 0, 0.228); */
    border-radius: 22px;
    color: #ffffff;
    width:50%;
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem;
    padding: 2rem;
    gap: 1rem;
    transition: ease 0.7s;
    overflow: hidden;
    transition: ease 0.5s;
  }
  .content1:hover  {
    background: rgba(0, 0, 0, 0.486);
    box-shadow: 1.5rem 1rem 0 rgb(255, 255, 255);;
    border: 2px solid rgb(255, 255, 255);;
    flex-wrap: nowrap;

  }

  .content2:hover  {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(209, 131, 227, 0.927);

  }


  
.header p {
    font-weight: 800;
    cursor: pointer;
    font-size: 1rem;
    color: #fff718;
}




section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;

}


.social-media a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .1rem solid rgb(255, 255, 255);;
    border-radius: 50%;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
    margin: 2rem 1rem 4rem 0;
    transition: .5s ease;
}

.social-media a {
    font-size: 20px;
}
.social-media a:hover{
    border: transparent ;
    border: .1rem solid rgb(247, 255, 0);
    color: rgb(247, 255, 0);
}

.btn{
    display: inline-block;
    padding: 1rem 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 4rem;
    color: black;
    box-shadow: 0 0 1rem rgb(255, 255, 255);;
    letter-spacing: 0rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    transition: .7s ease;
}
 a:hover{

    box-shadow:none;

}


.shadow{
    box-shadow: 100px -10px 30px 20px rgba(0, 0, 0, 0.5);
    border:2px solid transparent;
    margin-left: 3rem;
}

strong{
    color:#ffffff;
    font-size: 29px;
}

.major{
    color:#ffffff;
}

/*about me section*/
.about{
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

 
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.aboutme{
    font-family: "Poppins";
    position: relative;
    top:100px;
    font-size: 16px;
    /* color:#effcbe ; */
    padding: 1rem 9%;
    top:100px;
    z-index: 99;
    line-height: 1.8;
    width: 700px;
    color: #fff;
    border-top: #fff718 2px solid;
    border-bottom: #fff718 2px solid;
    transition: ease 0.5s;


}

  
  .scroll-text {
    transform: translateX(50%);
    font-size: 100px;
    width: 600px;
    font-weight: 600;
    color: #ffffff7f;
    transition: ease 0.5s;

    /* animation: my-animation 5s linear  alternate; */
  }

  .scroll-text:hover{

    transform:  translateX(200px);

  }


/*services  section*/
.service-container{
display: flex;
justify-content: center;
align-items: center;
text-align: center;

gap: 5rem;

}

.heading {
    margin-bottom: 4rem;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
}
.service-container 
{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    gap: 0.2rem;
}
.list-service li{
    display: flex;
    text-align: left;
    align-items: left;
    text-decoration: none;
}

.list-service li:hover {
    color: #fff718;

}

.container p {
    color: #fff;
}
.container li {
    color: #fff;
}


.container
{
    width: 380px;
    height: 430px;
    background: #000;
    border-radius: 2rem;
    padding: 1rem;
    color: #fff;
    text-align: left;
    border: .2rem solid transparent;
    border: 2px #fff solid;

    transition:  0.5s ease;
    margin: 2rem;
}
.container h2{
    font-size: 20px;
    color:#fff;
}
.container:hover {
    border: 2px #fff718 solid;
    box-shadow: 1.5rem 1rem 0 #fff718;
}



/*project section*/
/*Projects*/
.container {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
}


.container1 .card .content {
	position: relative;
    margin-bottom: 2rem;
    padding: 5rem ;
	display: flex;
	justify-content: right;
	align-items: right;
	flex-direction: column;
	transition: ease 0.5s;
    border:transparent 1px solid;
    border-radius: 10px;
}

.container1 .card:hover .content {
	    transform: translateX(33px);
        background: rgba(0, 0, 0, 0.486);
        box-shadow: 1.5rem 1rem 0 #ff0def;
    
}


.container1 .card .content .imgBx {
    border-radius: 20%;
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
    cursor: pointer;
}
.text2{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    position: relative;
    left:500px;
    bottom:300px;
    width: 40%;
}

.text2 p {
    font-size: 20px;

}
.container1 .card .content .imgBx img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container1 .card .content .contentBx h3 {
	color: #a3b5f8;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	margin-left: 3rem;
	line-height: 1.1em;
}


.contentBx i {
    font-size: 20px;
}

.contentBx i:hover{
    color: #ff0def;
    cursor: pointer;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content4{
    position: relative;
    top:0px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.228);
    border-radius:10px;
    color: #fff;
    border: #fff 2px solid;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 20px;

    margin: 3rem;
    transition: ease 0.5s;
}
.objects4{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2.5rem;
}
.imgnbta{
    border-radius: 50%;
    border: 2px solid white;
}

.content4:hover {
    transform: translateY(33px);
    background: rgba(0, 0, 0, 0.486);
    box-shadow: 1.5rem 1rem 0 #fff718;
}
.project i{
    font-size: 16px;
    position: relative;
    top: 100px;  
}
.project i:hover{
    color:#fff718;
    cursor: pointer;
}
/*footer*/
.text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 7%;
    font-size:12px;
}

/*Media query for phones*/


@media (max-width:800px){
 
    .heading{
        position: relative;
        left:200px;
        text-align: center;
        font-size: 26px;
    }

    /*Project section*/

    .imgnbta{
        width: 80px;
        height: 80px;
    }
    .content4{
        display: flex;
        justify-content: center;
        position: relative;
        left:200px;
        width: 400px;
        height: 250px;
    }
    .text-project{
        font-size: 10px;
    }

    /*Service section*/

    .service-container{
        flex-direction: column;
        justify-content: left;
        text-align: left;
        position: relative;
        left:150px;
    }
    .container{
       font-size: 20px;
       width: 380px;
       height: 500px;
    }

   



     /*About me section*/

     .scroll-text{
        font-size: 22px;
        position: relative;
        bottom:160px;
        right:200px;
        text-align: center;
        align-items: center;

     }
     .scroll-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        width: 100%;
     }

     .aboutme{
        font-size: 18px;
     }

     /*home section*/

     .home {
        background-position: -260px;
        background-size: cover;
        image-rendering: optimizeQuality;
        width: 100%;
     }
     .home-content{

        display: flex;
        justify-content: center;
        position: relative;
        left: 200px;
        
     }

     /*navigation bar*/

     .header{

        height: 100px;
        width: max-content;
     }
    

}


